// -------- Colors -----------
@text-color-primary: rgba(255, 255, 255, 1);
@text-color-secondary: rgba(255, 255, 255, 0.9);
@background-color-primary: rgba(0, 0, 0, 0.9);
@background-color-secondary: rgba(0, 0, 0, 0.8);

// ----- Default font --------
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

// Paddings
@padding-lg: 24px;
@padding-md: 16px;
@padding-sm: 12px;
@padding-xs: 8px;

// Margins
@margin-lg: 30px;
@margin-md: 16px;
@margin-sm: 12px;
@margin-xs: 8px;

// Font sizes
@font-size-xl: 6em;
@font-size-lg: 5em;
@font-size-md: 2.5em;
@font-size-sm: 1.8em;
@font-size-xs: 1.5em;

// Line heights
@line-height-lg: 200%;
@line-height-md: 180%;
@line-height-sm: 160%;
@line-height-xs: 140%;
