@import './themes/current.less';

.blog {
	font-family: @font-family;
	display: inline-block;
	position: fixed;
	left: 0;
	margin-left: @margin-left;
}

h1.blog {
	color: @primary-text-color;
	background-color: @primary-background-color;
	padding: @padding-md;
	top: 20vh;
}

p.blog.date {
	color: @secondary-text-color;
	background-color: @secondary-background-color;
	padding: @padding-sm;
	top: 35vh;
}
