@import './themes/current.less';

h1.blog {
	font-family: @font-family;
	color: @primary-text-color;
	background-color: @primary-background-color;
	padding: @padding-md;
	display: inline-block;
	position: fixed;
	left: 0;
	margin-left: @margin-left;
	top: 20vh;
}
